// primary colors:
$darkIndigo: #273377;
$indigo: #3949ab;
$lightIndigo: #606dbb;

// secondary colors:
$darkPurple: #301b70;
$purple: #4527a0;
$lightPurple: #6a52b3;

// shades:
$darkGray: #282828;
$white: #ffffff;

.toolbar {
  color: $white;
  background-color: $darkPurple;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
