<div class="form-card">
  <h3 class="form-header">Post create component</h3>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field class="form-field">
        <label class="form-label" for="title">Title</label>
      <input class="form-input"
      matInput
      id="title"
      type="text"
      name="title"
      ngModel
      required
      #title="ngModel"/>
      <mat-error *ngIf="title.invalid" class="validation-text">Please enter a title.</mat-error>
    </mat-form-field>
    <mat-form-field class="form-field">
      <label class="form-label" for="content">Content</label>
      <textarea class="form-input"
      matInput
      id="content"
      name="content"
      rows="6"
      [value]="newPost"
      ngModel
      required
      #content="ngModel"></textarea>
      <mat-error *ngIf="content.invalid" class="validation-text">Please enter a body.</mat-error>
    </mat-form-field>
    <button class="form-button" type="submit">Save Post</button>
  </form>
</div>
