@import "../../../colors";

.form-card {
  width: 90%;
  max-width: 550px;
  padding: 1.5rem;
  margin: 1rem auto;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .form-header {
    margin: 0 0 16px 0;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-field {
    width: 100%;
    margin: 10px auto;
  }
  .form-input {
    font: inherit;
    background: 0 0;
    color: currentColor;
    border: 2px solid rgba(0,0,0,0.05);
    border-radius: 2px;
    outline: 0;
    // padding: 3px;
    margin: 0;
    // width: 100%;
    height: auto;
    vertical-align: bottom;
    text-align: left;
    font-size: 90%;
    color: rgba(0,0,0,.90);
  }
  // .form-input::placeholder {
  //   color: rgba(0,0,0,.40);
  //   text-align: left;
  //   font-size: 90%;
  // }
  .validation-text {
    color: $errorRed;
    font-size: 70%;
  }
  .error-border {
    border: 1px solid $errorRed;
  }
  .form-button {
    color: white;
    background-color: $indigo;
    border: none;
    border-bottom: 1px solid $darkIndigo;
    margin-top: 5px;
    padding: 7px 10px;
    border-radius: 2px;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 3px 0 rgba(0,0,0,.12);
  }
  .form-button:active {
    color: white;
    background-color: $darkIndigo;
    margin-top: 6px;
    border-bottom: none;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 1px 2px 0 rgba(0,0,0,.12);
  }
}
