// primary colors:
$darkIndigo: #273377;
$indigo: #3949ab;
$lightIndigo: #606dbb;

// secondary colors:
$darkPurple: #301b70;
$purple: #4527a0;
$lightPurple: #6a52b3;

// misc colors:
$errorRed: #a63232;
$successGreen: #4bb543;

// shades:
$darkGray: #303030;
$white: #ffffff;
